
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your order!%></h1>
    <p>
      Your order number is: <%= @order.id %>.<br>
    </p>
    <div class="panel panel-default items">
    <tbody>
    <%= render @line_item %>
    </tbody>
    <th>Total: $<%= @order.total_cents/100.00 %>
    </th>
  </div>
    <p>Thanks for ordering!</p>
  </body>
</html>